<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Вход">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-home-page="Главная.html" data-home-page-title="Вход" class="u-body u-xl-mode" data-lang="ru">
    <section class="u-align-center u-clearfix u-section-1" id="sec-1230">
      <form action="reg" method = "POST">
          <p>Имя <input type = "text" name = "name" /></p>
    <p>Логин <input type = "text" name = "log" /></p>
    <p>Пароль <input type = "text" name = "pass" /></p>

    <p><input type = "submit" value = "Зарегистрироваться" /></p>
</form>
    </section>
    

  
</body></html>